<!DOCTYPE html>
<html ng-app="admin">
<head>
<meta charset="US-ASCII">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Timesheet</title>

<script type="text/javascript" src="resources/lib/angular.min.js"></script>
<script type="text/javascript" src="resources/lib/angular-resource.min.js"></script>
<script type="text/javascript" src="resources/js/timesheet.js"></script>

<link rel="stylesheet" type="text/css" href="resources/lib/bootstrap-3.1.1/css/bootstrap.min.css"/>
</head>
<body>

<div ng-controller="AdministratorController" class="container">
	
	<h3>Add new user: </h3>
	<span>Email: </span>
	<input ng-model="user.email" placeholder="Email..." />

	<p>{{user.email}}</p>
	
	
	<span>Project: </span>
	<select>
		<option ng-repeat="project in projects" ng-model="project.code">{{project.name}}</option>
	</select>
	
	<form ng-submit="submit()">
		<button>Submit</button>
	</form>
	
</div>

<div ng-controller="UserController">
	<table>
		<thead>
			<tr>
				<td>
					Monday
				</td>
				<td>
					Tuesday
				</td>
				<td>
					Wednesday
				</td>
				<td>
					Thursday
				</td>
				<td>
					Friday
				</td>
				<td>
					Saturday
				</td>
				<td>
					Sunday
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<input ng-model="time.monday"/>
				</td>
				<td>
					<input ng-model="time.tuesday"/>
				</td>
				<td>
					<input ng-model="time.wednesday"/>
				</td>
				<td>
					<input ng-model="time.thursday"/>
				</td>
				<td>
					<input ng-model="time.friday"/>
				</td>
				<td>
					<input ng-model="time.saturday"/>
				</td>
				<td>
					<input ng-model="time.sunday"/>
				</td>
			</tr>
		</tbody>
	
	</table>

</div>

</body>
</html>